@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Unbounded:wght@200..900&display=swap');

.service-com-container {
    width: 90%;
    margin: 2rem auto;
    text-align: center;
    padding: 2rem;
    color: var(--color-accent-dark);
    font-family: "Rubik", sans-serif;
    background-color: var(--color-accent-dark);
}

.service-com-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--color-primary);
}

.service-com-description {
    font-size: 1.1rem;
    color: #6c757d;
    margin-bottom: 2rem;
}

.category-title {
    color: var(--color-primary);
    margin: 2rem 0;
    font-size: 2rem !important;
}

.category-title-home {
    color: var(--color-primary);
    margin: 1.5rem 0;
    font-size: 1.2rem !important;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .service-com-title {
        font-size: 2rem;
    }

    .service-com-description {
        font-size: 1rem;
    }

    .service-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1.5rem;
        margin-bottom: 2rem;
    }
}

/* Service item styling */
.service-item {
    background-color: var(--color-highlight);
    border: 1px solid #eaeaea;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: box-shadow 0.3s ease;
}

.service-item:hover {
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: translateY(-5px);
    background-color: var(--color-accent-dark);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .service-description {
        color: var(--color-highlight);
    }
}

.service-title {
    color: var(--color-primary);
    margin-bottom: 1rem;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    line-height: 29.63px;
    text-align: left;
    font-size: 1.7rem;
}

.service-description {
    font-size: 1rem;
    color: var(--color-accent-dark);
}

.service-home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.5rem 0;
    background-color: var(--color-accent);
}

.service-home-header {
    text-align: center;
}

.service-categories {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;
}

.service-category-card {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 20px 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-category {
    margin-bottom: 2rem;

}

.service-category-card:hover {
    transform: translateY(-0.3rem);
    transition: 0.3s ease;
    background-color: var(--color-highlight);
}

.category-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.category-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.category-description {
    font-size: 14px;
    color: var(--color-accent-dark);
}

.view-all-services-button {
    margin-top: 40px;
}

.second-title {
    margin: 1rem;
    font-size: 3rem;
}

.view-all-services-button button {
    padding: 10px 20px;
    background-color: var(--color-primary);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid var(--color-primary);
}

.view-all-services-button button:hover {
    background-color: var(--color-accent-dark);
}

@media (max-width: 768px) {
    .service-categories {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-top: 40px;
    }
}